body { 
    margin: center;
    padding: 20px;
    display: center; 
    justify-content: center;

}
div {
    position: absolute;
    font-size: 30px;
    width: 100px;
    height: 100px;
    margin: 0;
  }

p {
    margin: 35px;
    display: center;
    font-size: 30px; 
    
}