body { 
    margin: 9;
    padding: 0 ;
    display: flex; 
    align-item: center;
    justify-content: center;
    height: 100vh;

}

#emoji {
    position: relative;
    width: 230px
    height: 230px


}