body { 
    margin: 0 auto;
    padding: 50%;
    display: center; 
    justify-content: center;
    text-align:center;

}
div {
    position: center;
    font-size: 30px;
    width: 100px;
    height: 100px;
    margin: 0;
    text-align:center;
  }
  p {
	position:absolute;
	top:50%;
	left:0;
	right:0;
	margin:0;
	padding:0;
	text-align:center;
	
	font-size:30px;
	
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
}
